.title {
  padding-top: 10px;
  text-align: center;
}

.list-group {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.input-group {
  padding-top: 10px;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.input-group .form-control {
  height: 43px;
}

#star {
  font-size: 12px;
}

#content {
  width: 250px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: -35px;
  font-size: 10px;
}

#content .A {
  width: 62%;
  height: 50%;
  float: right;
}

#content .B {
  width: 38%;
  height: 50%;
  float: right;
}

#content .C {
  width: 62%;
  height: 50%;
  float: right;
}

#content .D {
  width: 38%;
  height: 50%;
  float: right;
}

#content, #content > div {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.show-div {
  height: 500px;
}