.title {
  padding-top: 10px;
  text-align: center;
}

.list-group {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.input-group {
  padding-top: 10px;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.input-group .form-control {
  height: 44px;
}

#star {
  font-size: 12px;
}

#content {
  width: 250px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 10px;
}

#content .A {
  width: 44%;
  height: 40%;
  float: right;
}

#content .B {
  width: 44%;
  height: 40%;
  float: right;
}

#content .C {
  width: 44%;
  height: 40%;
  float: right;
}

#content .D {
  width: 42%;
  height: 40%;
  float: right;
}

#content, #content > div {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.show-div {
  height: 100px;
}

.details-container {
  width: 95%;
  padding-top: 20px;
  margin: 0 auto;
}

.graph-container{
  position: absolute;
  width:100%;
  height:100%;
}

.graph-buttons {
  margin: 0 auto;
  display: center;
}