@font-face {
  font-family: Roboto;
  src: url(./assets/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(./assets/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/roboto/Roboto-Light.ttf);
}

body {
  font-family: Roboto-Light;
}

h1 {
  font-family: Roboto-Thin;
  margin: 0px;
  font-size: 30px;
}

h3 {
  font-family: Roboto-Light;
}

.center-me > h3 {
  color: #b83130;
}

.nav-container {
  padding: 20px;
  background-color: rgba(0,0,0,0.08);
  border-bottom: 1px solid #d3d3d3;
}

.search-container {
  width: 900px;
  margin: auto;
}

.red {
  background-color: #b83130; 
}

.grey {
  background-color: #d3d3d3;
}

.title {
  padding-top: 10px;
  margin: auto;
}

.modulo-img {
  width: 230px;
  float: left;
}

.input-group {
  position: relative;
  padding-left: 40px;
  width: 600px;
  height: auto;
}

.input-group .form-control {
  height: 44px;
}

.page-header {
  margin: 0;
  padding-bottom: 0;
}

.module-title {
  width: 25%;
  display: inline-block;
}

.module-stats {
  width: 70%;
  display: inline-block;
  text-align: right;
  font-size: 50%;
}

.list-group {
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
}

.list-group-item:hover {
  cursor: pointer;
}

#star {
  font-size: 12px;
}

#content {
  float: left;
  font-size: 16px;
  padding: 2px;
  padding-top: 10px;
}

.last-update {
  width: 30%;
  float: right;
}

.star-count {
  width: 19%;
  float: right;
}

.dependent-number {
  width: 24%;
  float: right;
}

.monthly-downloads {
  width: 27%;
  float: right;
}

#content, #content > div {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  display: block;
}

.show-div {
  height: 100px;
}

.details-container {
  width: 95%;
  padding-top: 20px;
  margin: 0 auto;
}

.details-div {
  padding: 20px;
  width: 100%;
  float: none;
  display: block;
}

#graph-container{
  position: absolute;
  width:80%;
  height:100%;
}

.graph-buttons {
  margin: 0 auto;
  display: center;
}

.landing-explanation {
  background-color: #fff;
}

.landing-feature-demo, .landing-bios {
  /*text-align: center;*/
  background-color: #ddd;
}

.center-me {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.demo-gif {
  padding-right: 30px;
  /*padding-left: 25%;*/
  /*padding-right: 25%;*/
  margin-bottom: 30px;
  margin-top: 30px;
}

.demo-text{
  padding-top:50px;
}

.glyphicon-red{
  color: #ff0200;
  font-size: 25px;
}

.demo-img {
  width: 90%;
}

.landing-footer{
  background-color: #CB3837;
  color: #fff;
  text-align: right;
}

.feature-card{
  padding-top: 25px;
  background-color: white;
}

.feature-card-img{
  width: 100px;
  background-color: white;
}

.landing-advanced-features{
  background-color: #eee;
  padding-bottom: 25px;
}

.feature-explanation{
  font-size: 15px;
  text-align: center;
}

.font-red{
  color: #B83130;
  text-align: center;
}