.nav-container {
  padding: 10px;
  background-color: transparent;
}

.input-group {
  width: 400px;
  margin: 0 auto;
}

.input-group .form-control, .btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  height: 44px;
}