.nav-container {
  min-height: 100px;
}
/* home-link */
.m-home {
  position: absolute;
  float: left;
  padding-top: 25px;
  padding-left: 100px;

  a, :link, :visited, :active {
    font-size: 30px;
    color: $red;
  }

  :hover {
    text-decoration: none;
    color: $black;
  }
}

.search-container {
  float: right;
  padding-top: 25px;
  padding-right: 100px;
  background-color: transparent;
}

.input-group {
  width: 400px;
}

.input-group .form-control, .btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  height: 44px;
}