.nav-container {
  min-height: 100px;
  width: 700px;
  margin: 0 auto;
}

.search-container {
  padding-top: 25px;
  background-color: transparent;
  
  .btn {
    width: 50px;
  }

  .btn:hover, .btn:focus, .btn:active, .btn:visited {
    background-color: $white;
    border: none;
    outline: none !important;
    border-radius: 0 !important;
  }
  
  .input-group {
    width: 600px;
    margin: 0 auto;
  }

  .input-group .form-control, .btn {
    background-color: $white;
    border: none;
    border-bottom: 1px solid $grey;
    height: 50px;
    outline: none !important;
    box-shadow: none;
    border-radius: 0 !important;
  }
}



.glyphicon-search {
  color: $black;
}

.glyphicon-home {
  color: $red;
}

.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}