#content, #content > div {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

.sort-div {
  margin-left: 720px;
  width: 500px;
}

.order-list {
  .span-sort-by {
    font-size: 15px;
    font-family: Roboto-Light;
    color: $black;
    letter-spacing: 1px;
  }

  .order-link, .order-link:active, .order-link:visited, .order-link:focus {
    font-size: 15px;
    font-family: Roboto-Thin;
    color: $darkgrey;
    letter-spacing: 1px;
  }

  .order-link:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: $red;
  }
}

.list-group {
  width: 100%;
  position: relative;
}

.list-group-item {
  background-color: $white;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  margin-bottom: 20px;
}

.list-group-item:hover {
  cursor: pointer;
  color: $red;
  border: none;
  margin-bottom: 23px;
}

.page-header {
  border: none;
  margin: 0;
  background-color: $navy;
  padding-bottom: 0;
}

.module-title {
  position: relative;
  width: 40%;
  display: inline-block;
  padding-left: 10px;
  top: -15px;
}

.module-name {
  color: $white;
  font: Roboto-Thin;
  text-transform: uppercase;
  font-size: 20px;
}

.module-stats {
  position: relative;
  right: -50px;
  height: 60px;
  width: 55%;
  padding-left: 30px;
  display: inline-block;
  text-align: right;
  color: $white;
  font-family: Roboto-Thin;
  padding-bottom: none;

  .rank {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
  }

  .rank-int {
    margin-top: -10px;
    text-align: center;
    font-family: Roboto-Thin;
    font-size: 50px;
  }

  .rank-sub {
    margin-top: -18px;
    text-align: center;
    font-family: Roboto-Light;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .overall {
    color: $red;
  }
}

.module-description {
  float: left;
  font-size: 16px;
  font-family: Roboto-Light;
  color: $navy;
  padding: 2px;
  padding-top: 10px;
  padding-left: 12px;
  margin-bottom: 2px;
}

.rank-bars {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.btn-view-more {
  position: relative;
  background-color: $red;
  color: $white;
  font-family: Roboto-Light;
  font-size: 14px;
  border: none;
  bottom: -10px;
  left: 920px;
}

.btn-view-more:hover {
  background-color: $navy;
  color: $lightblue;
}

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid $lightblue;
  background-color: $blue;
  border-radius: 5px;
  padding: 10px;
  color: $white;
  font-size: 14px Roboto-Light;
  opacity: 0.85;
}