@font-face {
  font-family: 'Roboto';
	src: url('./assets/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
	src: url('./assets/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
	src: url('./assets/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
	src: url('./assets/roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
	src: url('./assets/roboto/Roboto-Black.ttf') format('truetype');
}

$red: rgba(231,76,60,1);
$grey: rgba(236,240,241,1);
$navy: rgba(44,62,80,1);
$blue: rgba(41,128,185,1);
$lightblue: rgba(52,152,219,1);
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$darkgrey: rgba(128, 128, 128,1);

body {
  font-family: Roboto-Light;
  background-color: $grey;
}

h1 {
  font-family: Roboto-Thin;
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.content-wrapper {
  min-height: 800px;
}

/* footer */
footer {
  .footer {
    background-color: $navy;
    padding: 5px;
    padding-right: 15px;
    min-height: 400px;
    text-align: right;
  }

  .team {
    padding-left: 20%;
    padding-top: 125px;
    position: relative;
    width: 400px;
    float: left;
    text-align: left;
  }

  a, :link, :visited, :active {
    text-decoration: none;
    color: $white;
  }

  :hover {
    text-decoration: none;
    color: $red;
  }

  .about {
    padding-left: 100px;
    padding-top: 125px;
    position: left;
    float: left;
    text-align: left;
    width: 750px;
    word-wrap: break-word;
  }

  .footer-title {
    color: $red;
    font-size: 16px;
  }

  .footer-body {
    padding-top: 10px;
    color: $darkgrey;
    font-size: 14px;
  }
}

/* override classes */
.full-width{
  width: 100%;
}

.text-to-left{
  text-align: left;
}

.text-to-right{
  text-align: right;
  float: right;
}

/* loading bar */
#loading-bar .bar {
  background: $red;
  height: 5px;
}

/* form */
.form-control::-webkit-input-placeholder { color: $darkgrey; }
.form-control:-moz-placeholder { color: $darkgrey; }
.form-control::-moz-placeholder { color: $darkgrey; }
.form-control:-ms-input-placeholder { color: $darkgrey; }

textarea:focus,
input[type="text"]:focus, .uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

/* importing partials */
@import 'nav';
@import 'landing';
@import 'results';
@import 'details';
@import 'graphs';
@import 'top';