<div class="container details-container" ng-init="init()">

  <div class="col-md-6" ng-repeat="property in properties">
    <div class="panel panel-danger">
      <div class="panel-heading">Top Modules by {{property}}</div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Module Name</th>
            <th>{{property}}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="row in data[property].data">
            <th scope="row">{{$index+1}}</th>
            <th><a href="/#/details/{{row[0]}}">{{row[0]}}</a></th>
            <th>{{row[1].toLocaleString()}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>